.l-footer {
	text-align: center;
	padding-bottom: 50px;
}

.page404 {
	.l-footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-bottom: 10px;
	}
}


.price {
	.l-footer {
		padding-bottom: 29px;
	}
}