	/* about内使用 */
	.p-btn--circle {
		@extend %boxbase;
		pointer-events: none;
		width: pxtovw-sp(96);
		height: pxtovw-sp(96);

		text-align: center;
		font-size: pxtovw-sp(15);
		letter-spacing: .2rem;
		text-indent: .2rem;
		line-height: pxtovw-sp(96);

		@include breakpoint( pc ){
			font-size: pxtovw-pc(15);
			width: pxtovw-pc(96);
			height: pxtovw-pc(96);
			line-height: pxtovw-pc(96);
			grid-row: 1;
		}
	}