.p-mainvisual {
  height: pxtovw-sp(667);
  width: 100%;

  background-image: url(../images/home_mainvisual_sp.svg);
  background-position-x: 0%;
  background-position-y: -7%;
  object-fit: cover;

  @include breakpoint( pc ) {
    height: pxtovw-pc(800);
    background-image: url(../images/home_mainvisual_pc.svg);
    background-position-y: 94%;
	}
}