.p-mainvisual {
  width: 100%;
  height: pxtovw-sp(667);

  background-image: url(../images/home_mainvisual_sp.svg);
  background-position-x: 0%;
  background-position-y: -7%;

  @include breakpoint( pc ) {
    width: 100%;
    height: pxtovw-pc(800);
    background-image: url(../images/home_mainvisual_pc.svg);
    background-position-x: center;
    background-position-y: 3%;
    background-size: cover;
	}
}

.price {
  .p-mainvisual {
    background-image: url(../images/price_mainvisual_sp.svg);

    @include breakpoint( pc ) {
      background-image: url(../images/price_mainvisual_pc.svg);
    }
  }
}