.p-txt--mainvisual {
  position: absolute;
  top: 67%;
  margin-right: pxtovw-sp(20);
  margin-left: pxtovw-sp(20);
  text-align: center;

  font-size: pxtovw-sp(15);
  line-height: 1.75;
  letter-spacing: .44rem;
  text-indent: .44rem;
}