.u-margin {

  &--01 {
    margin-top: pxtovw-sp(45);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(60);
    }
  }

  &--02 {
    margin-top: pxtovw-sp(80);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(84);
    }
  }

  &--03 {
    // margin-top: pxtovw-sp(145);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(62);
    }
  }

  &--04 {
    margin-top: pxtovw-sp(-26);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(40);
    }
  }

  &--05 {
    margin-top: 0;
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(100);
    }
  }

  &--06 {
    margin-top: pxtovw-sp(45);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(60);
    }
  }

  &--07 {
    margin-top: pxtovw-sp(75);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(60);
    }
  }

  &--08 {
    margin-top: pxtovw-sp(83);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(100);
    }
  }

  &--09 {
    margin-top: pxtovw-sp(45);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(62);
    }
  }

  &--10 {
    margin-top: pxtovw-sp(76);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(90);
    }
  }

  &--11 {
    margin-top: pxtovw-sp(45);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(62);
    }
  }

  &--12 {
    margin-top: pxtovw-sp(78);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(94);
    }
  }

  &--13 {
    margin-top: pxtovw-sp(70);
    @include breakpoint( pc ) {
      margin-top: pxtovw-pc(173);
    }
  }
}


.price {
  .u-margin {
    &--50 {
      margin-top: pxtovw-sp(2);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(2);
      }
    }

    &--51 {
      margin-top: pxtovw-sp(72);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(10);
      }
    }

    &--52 {
      margin-top: pxtovw-sp(130);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(100);
      }
    }

    &--53 {
      margin-top: pxtovw-sp(40);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(40);
      }
    }

    &--54 {
      margin-top: pxtovw-sp(100);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(40);
      }
    }

    &--55 {
      margin-top: pxtovw-sp(62);
      @include breakpoint( pc ) {
        margin-top: pxtovw-pc(40);
      }
    }
  }
}