.u-padding {

  // p-home-about--wrap
  &--00 {
    padding-top: pxtovw-sp(150);
    padding-bottom: pxtovw-sp(75);
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(190);
      padding-bottom: pxtovw-pc(110);
    }
  }

  // 円ボックス
  &--00-2 {
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(120);
    }
  }

  // その言葉でデザインを作ります
  &--00-3 {
    padding-top: pxtovw-sp(47);
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(65);
    }
  }

  // works
  &--01 {
    padding-top: pxtovw-sp(145);
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(144);
      padding-bottom: pxtovw-pc(99);
    }
  }

  // flow
  &--02 {
    padding-top: pxtovw-sp(90);
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(145);
      padding-bottom: pxtovw-pc(0);
    }
  }

  // price
  &--03 {
    padding-top: pxtovw-sp(126);
    padding-bottom: pxtovw-sp(168);
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(220);
      // padding-top: pxtovw-pc(345);
      padding-bottom: pxtovw-pc(233);
    }
  }


  // contact
  &--04 {
    padding-top: pxtovw-sp(50);
    padding-bottom: pxtovw-sp(30);
    @include breakpoint( pc ) {
      padding-top: pxtovw-pc(210);
      padding-bottom: pxtovw-pc(30);
    }
  }
}


.about {
  .u-padding {
    &--20 {
      padding-top: pxtovw-sp(15);
      padding-bottom: pxtovw-sp(19);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(5);
      }
    }
  }
}





.price {
  .u-padding {
    &--50 {
      padding-top: pxtovw-sp(83);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(65);
      }
    }
  }
}


.qanda {
  .u-padding {
    &--60 {
      padding-top: pxtovw-sp(23);

      @include breakpoint( pc ) {
        padding-top: pxtovw-pc(70);
      }
    }
  }
}
